@media (max-width: 1300px){
    #contato{
        margin-left: 17vh !important;

        width: 90% !important;
    }
    
    #mapa{
        bottom: 40% !important;
    }

    .contato{
        font-size: 2.5rem !important;
    }

    .p_form p{
        font-size: 0.8rem;
    }

    .submit{
        left: 20% !important;

        padding: 13px !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .mapa{
        width: 100% !important;
        height: 100% !important;
    }

    .pin_mapa{
        width: 6% !important;
        height: 9% !important;
    }
}

@media (max-width: 900px){
    #contato{
        margin-left: 5vh !important;
        height: 120vh !important;
    }

    #email_form{
        margin-left: 15%;
        width: 90vw !important;
    }

    #email_form h2{
       font-size: 3.5rem !important;
    }

    .p_form p{
        font-size: 1.1rem !important;
    }

    .input{
        width: 40% !important;
        left: 5% !important;
    }

    .msg{
        width: 87% !important;

        left: 5% !important;
    }

    .submit{
        left: 35% !important;
        padding: 23px !important;
    }

    #mapa{
        display: none;
    }
}

@media (max-width: 500px){
    #contato{
        height: 280vh !important;
    }

    #email_form h2{
        font-size: 5rem !important;

        width: 250% !important;
    }

    .titulo_form{
        left: -10%;
    }

    .p_form{
        left: -5% !important;

        margin-bottom: 20% !important;

        color: white;
    }

    .p_form p{
        width: 200% !important;

        font-size: 2rem !important;
    }

    .contato_form span{
        left: -5% !important;
    }

    .input{
        width: 150% !important;

        padding: 7% !important;

        font-size: 2rem !important;

        margin: 5% !important;

        left: -5% !important;
    }

    .msg{
        padding-bottom: 40% !important;

        margin-bottom: 15% !important;
    }

    .submit{
        padding: 10% !important;

        border-radius: 5% !important;

        font-size: 2rem !important;

        margin-top: 5% !important;
        

        left: 5% !important;
    }
}

@media (max-width: 370px){
    #email_form h2{
        font-size: 5.5rem !important;

        width: 250% !important;
    }

    .p_form p{
        width: 250% !important;

        font-size: 2.5rem !important;
    }

    .input{
        width: 180% !important;

        padding: 13% !important;

        font-size: 2rem !important;
    }

    .msg{
        padding-bottom: 45% !important;
    }

    .submit{
        padding: 17% !important;

        border-radius: 5% !important;

        font-size: 2.9rem !important;

        margin-top: 5% !important;
        

        left: 5% !important;
    }
}