#sobre {
  display: flex;
  flex-direction: column;

  margin-left: 20vh;
  
  width: 176vh;
  height: 100vh;
}

/* Título do Sobre */

.h2_html_topo {
  position: relative;

  bottom: 65%;
  left: 6%;
  
}

#titulo_sobre {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  top: 5%;
  left: 7%;

  max-width: 35%;

  transition: all 0.7s ease;
}

#titulo_sobre:hover {
  letter-spacing: 6px;

  max-width: 40%;
}

#titulo_sobre span {
  max-width: 900px;
}

#titulo_sobre h2 {
  position: relative;
  justify-self: center;
  display: inline;

  font-size: 60px;

  max-width: 100%;

  color: #fd9f02;
}

.h2_html_final {
  position: relative;

  max-width: 5%;

  bottom: 20%;
  left: 4%;
}

/* Parágrafos do Sobre */

#sobre_paragrafos {
  display: flex;
  flex-direction: column;
  position: relative;

  max-width: 45%;
  height: 53%;

  font-size: 18px;

  left: 8%;
}

#sobre_paragrafos .letras_html {
  position: relative;

  right: 3%;

  margin-top: -1%;
  margin-bottom: -3%;
}

#sobre_paragrafos p,
#sobre_paragrafos span {
  transition: all 0.7s ease;
}

#sobre_paragrafos p:hover {
  letter-spacing: 0.5px;
}

#sobre_paragrafos span:hover {
  letter-spacing: 0.5px;
}

#sobre_paragrafos .laranja {
  color: #fd9f02;
}

#linguagens {
  position: relative;

  left: 60%;
  bottom: 45%;

  width: 35%;
  min-height: 45%;

  font-size: 2.3rem;
  font-weight: 600;

  color: #fd9f02;
  animation: move 1.5s infinite;
}

#posteriores {
  display: grid;
  position: relative;

  grid-template-columns: 1fr 1fr;
  animation: tilt 15s infinite ease;

  text-shadow: 5px 5px rgba(0, 0, 0, 0.176);
}

/* Animação de movimento das letras */

@keyframes tilt {
  0%,
  60%,
  120% {
    transform: rotateY(0deg);
  }

  15%,
  75% {
    transform: rotateY(20deg);
    transform: translateX(40px);

    margin: 1%;

    letter-spacing: 2px;
  }

  45%,
  90% {
    transform: rotateX(20deg);
    transform: translateY(20px);

    margin: 2%;

    letter-spacing: 2.5px;
  }
}

#linguagens .bottom {
  position: relative;

  bottom: 30%;
  right: 8%;
}

#posteriores span {
  margin-bottom: 30%;
}

#anteriores {
  display: grid;
  position: relative;

  grid-template-columns: 1fr 1fr;
  bottom: 92%;
  font-size: 1.2rem;
  opacity: 35%;

  animation: tilt 12s infinite ease;
  text-shadow: 5px 5px rgba(0, 0, 0, 0.176);
}

#anteriores span {
  margin-bottom: 85%;
  margin-left: 20%;
}

/* Textos menores do rodapé */

#html_sobre {
  position: relative;
  display: inline;
  flex-direction: column;

  max-width: 80%;

  bottom: 34%;
  left: 2%;
}

.html_text_final {
  position: relative;

  top: 20%;
  left: -5%;
}

.body_final {
  position: relative;

  bottom: 70%;
  left: 4%;
}
