#sobre {
  display: flex;
  flex-direction: column;

  margin-left: 20vh;

  width: 90%;
  max-width: 1300px;
  height: 100vh;
}

/* Título do Sobre */

.h2_html_topo {
  position: relative;

  bottom: 65%;
  left: 6%;
}

#titulo_sobre {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  top: 5%;
  left: 7%;

  width: 50vw;

  transition: all 0.7s ease;
}

#titulo_sobre:hover {
  letter-spacing: 6px;

  max-width: 55vw;
}

#titulo_sobre span {
  max-width: 900px;
}

#titulo_sobre h2 {
  position: relative;
  justify-self: center;
  display: inline;

  font-size: 3.5rem;

  color: #fd9f02;
}

.h2_html_final {
  position: relative;

  max-width: 5%;

  bottom: 20%;
  left: 4%;
}

/* Parágrafos do Sobre */

#sobre_paragrafos {
  display: flex;
  flex-direction: column;
  position: relative;

  width: 40vw;
  height: 53%;

  font-size: 1.1rem;

  left: 8%;
}

#sobre_paragrafos .letras_html {
  position: relative;

  right: 3%;

  margin-top: -1%;
  margin-bottom: -3%;
}

#sobre_paragrafos p,
#sobre_paragrafos span {
  transition: all 0.7s ease;
}

#sobre_paragrafos p:hover,
#sobre_paragrafos span:hover {
  letter-spacing: 0.1px;
}

#sobre_paragrafos .laranja {
  color: #fd9f02;
}

#linguagens {
  display: flex;
  justify-content: space-evenly;
  position: absolute;

  left: 65%;
  top: 130%;

  max-width: 30vw;
  min-height: 45vh;

  font-size: 2.3rem;
  font-weight: 600;

  color: #fd9f02;
  animation: move 1.5s infinite;
}

#posteriores {
  display: grid;
  position: relative;

  grid-template-columns: 1fr 1fr;
  animation: tilt 15s infinite ease;

  text-shadow: 5px 5px rgba(0, 0, 0, 0.176);
}

/* Animação de movimento das letras */

@keyframes tilt {
  0%,
  60%,
  120% {
    transform: rotateY(0deg);
  }

  15%,
  75% {
    transform: rotateY(10deg);
    transform: translateX(20px);

    letter-spacing: 2px;
  }

  45%,
  90% {
    transform: rotateX(5deg);
    transform: translateY(10px);

    letter-spacing: 2.5px;
  }
}

#linguagens .bottom {
  position: relative;

  bottom: 30%;
  right: 8%;
}

#posteriores span {
  margin-bottom: 40%;
}

#anteriores {
  display: grid;
  justify-content: space-evenly;
  position: absolute;

  grid-template-columns: 1fr 1fr;
  bottom: 25%;
  right: 50%;
  font-size: 1.2rem;
  opacity: 35%;

  animation: tilt 12s infinite ease;
  text-shadow: 5px 5px rgba(0, 0, 0, 0.176);
}

#anteriores span {
  margin-bottom: 85%;
  margin-left: 20%;
}

/* Textos menores do rodapé */

#html_sobre {
  position: relative;
  display: inline;
  flex-direction: column;

  max-width: 80%;

  bottom: 1%;
  left: 2%;
}

.html_text_final {
  position: relative;

  top: 20%;
  left: -6%;
}

.body_final {
  position: relative;

  bottom: 70%;
  left: 4%;
}
