@media (max-width: 1300px){
    #sobre{
        margin-left: 15vh !important;
        margin-bottom: 7vh;
    }

    #titulo_sobre{
        width: 35vw !important;
    }
    
    #titulo_sobre h2{
        font-size: 3rem !important;
    }
    
    #sobre_paragrafos{
        font-size: 0.8rem !important;
    }

    #linguagens{
        max-width: 15vw !important;

        font-size: 1.5rem !important;

        left: 70% !important;
        top: 140% !important;
    }

    #anteriores{
        bottom: 14% !important;
        right: 55% !important;
    }
}

@media (max-width: 900px){
   #sobre{
       height: 120vh !important;
       margin-left: 5vh !important;
   }

   #titulo_sobre{
    margin-top: 5vh;
   }

   .h2_html_topo{
       bottom: 52% !important;
   }

   #titulo_sobre h2{
       font-size: 2.5rem !important;
   }

   .h2_html_final{
       bottom: 16% !important;
       left: 1% !important;
   }

   #sobre_paragrafos{
       bottom: 1%;
       width: 47vw !important;
       font-size: 1.1rem !important;
   }
   #html_sobre{
       top: 10% !important;
   }

   #linguagens{
       top: 200% !important;
       left: 88% !important;

       font-size: 2rem !important;
   }

   #anteriores{
       font-size: 2rem !important;
   }

   #sobre_paragrafos p:hover, #sobre_paragrafos span:hover{
       letter-spacing: 0px !important;
   }

   .html_text_final{
       left: -9% !important;
       top: 18% !important;
   }

}

@media (max-width: 500px){
    #sobre{
        height: 290vh !important;

        margin-top: 10%;
    }

    .h2_html_topo{
        left: 10% !important;
    }

    #titulo_sobre{
        top: 15% !important;
        left: 15% !important;

        width: 150vw !important;
    }

    #titulo_sobre:hover {
        letter-spacing: 2px !important;
        max-width: 150vw !important;
    }

    #titulo_sobre h2{
        font-size: 5.5rem !important;
    }

    .h2_html_final{
        bottom: 10% !important;
        left: -5% !important;
    }

    #sobre_paragrafos{
        width: 190vw !important;

        font-size: 1.6rem !important;

        left: 15% !important;
    }

    #linguagens{
        top: 425% !important;
        left: 120% !important;

        font-size: 3rem !important;
    }
}

@media (max-width: 370px){
    #sobre{
        height: 300vh !important;
    }

    #sobre_paragrafos{

        font-size: 1.8rem !important;
    }

    #linguagens{
        top: 480% !important;
        left: 125% !important;

        font-size: 3.2rem !important;
    }
}