#header {
  margin-left: 20vh;
  width: 176vh;
  height: 100vh;
}

/* Pequenas letras e texto principal */

.letras_html {
  font-family: "Square Peg", Arial, Helvetica, sans-serif;
  font-weight: 300;

  color: #4d4d4d;

  font-size: 24px;
}

.html_topo {
  display: inline;
  flex-direction: column;
}

.html_text {
  top: 2%;
  left: 1%;
  position: relative;
}

.body_topo {
  top: 5%;
  left: 1%;
  position: relative;
}

.h1_topo {
  right: 4%;
  position: relative;
}

/* Titulos e letras HTML do topo */

#titulo_header {
  width: 70%;

  margin-left: 10%;
  margin-top: 6%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.titulo {
  font-size: 75px;

  text-shadow: 5px 5px rgba(0, 0, 0, 0.176);

  font-weight: 600;

  margin-bottom: -1%;
}

.ola {
  position: relative;
  display: inline;
  transition: all 0.7s ease;
  max-width: 19%;

  right: 3%;
}

.ola:hover {
  letter-spacing: 8px;
  font-size: 80px;

  color: white;
}

.meunome {
  position: relative;
  display: inline;
  transition: all 0.7s ease;

  max-width: 50%;
}

.meunome:hover {
  letter-spacing: 8px;
  font-size: 80px;

  max-width: 65%;

  color: white;
}

#header img {
  left: 0%;
  position: relative;
  display: inline;

  width: 55px;
}

.front_end {
  position: relative;
  display: inline;
  transition: all 0.7s ease;

  max-width: 100%;
}

.front_end:hover {
  letter-spacing: 6px;
  font-size: 80px;

  max-width: 100%;

  color: white;

}

#titulo_header #p {
  align-self: flex-start;
  position: relative;

  max-width: 57%;
  margin: 0;
  left: 4%;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 2.5px;

  color: gray;
  opacity: 50%;

  transition: all 0.7s ease;
}

#titulo_header #p:hover {
  letter-spacing: 4.5px;
  max-width: 68%;
}

#titulo_header a {
  box-sizing: border-box;
  
  width: 100%;
  height: 5%;
  padding: 15px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 5px;

  background-color: #fd9f02;
  color: #1d1d1d;
  border: none;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.176);

  transition: all 0.7s ease;
}

button {
  align-self: flex-start;
  position: relative;
  cursor: pointer;
  border: none;
  box-sizing: border-box;

  margin-top: 5%;
  font-weight: 500;
  font-size: 22px;
  line-height: 20px;
  letter-spacing: 2.5px;

  background-color: #1d1d1d;

  transition: all 1s ease;
}

button:hover{
  animation: bounce 1s;
}


/* Role para baixo */

.role {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;

  top: 23%;

  width: 100%;
  font-size: 16px;
  font-weight: 300;

  opacity: 65%;
}

.role span img {
  max-width: 17px;
  margin-bottom: -5px;
}

.role span {
  transform: rotate(90deg);
}
