#header {
  margin-left: 20vh;
  
  width: 90%;
  max-width: 1280px;
  height: 100vh;
}

/* Pequenas letras e texto principal */

.letras_html {
  font-family: "Square Peg", Arial, Helvetica, sans-serif;

  font-weight: 300;
  font-size: 1.5rem;

  color: #4d4d4d;
}

.html_topo {
  display: flex;
  position: relative;
  flex-direction: column;

  width: 5%;

  top: 2%;
  left: 1%;
}

.html_text {
  position: relative;

  top: 2%;
  left: 1%;
}

.body_topo {
  position: relative;

  top: 5%;
  left: 50%;
}

.h1_topo {
  position: relative;

  right: 4%;
}

/* Titulos e letras HTML do topo */

#titulo_header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 70%;
  line-height: 4%;

  margin-left: 10%;
  margin-top: 6%;
}

.titulo {
  text-shadow: 5px 5px rgba(0, 0, 0, 0.2);

  font-weight: 600;
}

.ola {
  position: relative;
  display: inline;
  transition: all 1s ease;

  font-size: 4.5rem;

  max-width: 15%;

  right: 3%;
}

.ola:hover {
  letter-spacing: 0.2rem;
  font-size: 4.9rem;

  color: white;
}

.meunome {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  transition: all 1s ease;

  right: 4%;

  font-size: 4.5rem;
  margin-top: 5%;
  margin-bottom: 8%;

  max-width: 60%;
}

.meunome img{
  margin-left: 5%;
}

.meunome:hover {
  letter-spacing: 0.2rem;
  font-size: 4.9rem;

  max-width: 65%;

  color: white;
}

.meunome img {
  position: relative;
  display: inline;

  left: 0%;

  width: 12%;
}

.front_end {
  position: relative;
  display: inline;
  transition: all 1s ease;

  font-size: 4.5rem;
  max-width: 100%;
}

.front_end:hover {
  letter-spacing: 0.2rem;
  font-size: 4.9rem;

  max-width: 100%;

  color: white;
}

.div_p {
  margin-top: 5%;
}

#titulo_header #p {
  align-self: flex-start;
  position: relative;

  left: 2%;

  margin: 0;
  max-width: 57%;
  font-weight: 300;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  line-height: 220%;

  color: white;
  opacity: 50%;

  transition: all 1s ease;
}

#titulo_header #p:hover {
  letter-spacing: 0.2rem;

  max-width: 68%;
}

#titulo_header a {
  box-sizing: border-box;
  border: none;

  width: 100%;
  height: 5%;

  padding: 8%;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 5px;

  background-color: #fd9f02;
  color: #1d1d1d;

  box-shadow: 5px 5px rgba(0, 0, 0, 0.176);
}

#titulo_header button:hover{
  animation: bounce 1s ease;
}

#titulo_header button {
  align-self: flex-start;
  position: relative;
  cursor: pointer;
  border: none;
  box-sizing: border-box;

  margin-top: 5%;
  font-weight: 500;
  font-size: 22px;
  line-height: 50%;
  letter-spacing: 2.5px;

  background-color: #1d1d1d;

  transition: all 1s ease;
}

/* Role para baixo */

.role {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;

  top: 25%;

  width: 103%;
  font-size: 1rem;
  font-weight: 300;

  opacity: 65%;

  animation: bounce 1.2s;
  animation-iteration-count: infinite;
}

.role span img {
  width: 31%;

  margin-bottom: -5px;
}

.role span {
  transform: rotate(90deg);
}
