#header {
  margin-left: 20vh;
  width: 176vh;
  height: 100vh;
}

/* Pequenas letras e texto principal */

.letras_html {
  font-family: "Square Peg", Arial, Helvetica, sans-serif;
  font-weight: 300;

  color: #4d4d4d;

  font-size: 24px;
}

.html_topo {
  display: inline;
  flex-direction: column;
}

.html_text {
  top: 2%;
  left: 1%;
  position: relative;
}

.body_topo {
  top: 5%;
  left: 1%;
  position: relative;
}

.h1_topo {
  top: 24%;
  left: 1%;
  position: relative;
}

/* Titulos e letras HTML do topo */

#titulo_header {
  width: 70%;

  margin-left: 10%;
  margin-top: 6%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titulo {
  font-size: 75px;

  text-shadow: 0 2px rgba(0, 0, 0, 0.7);

  font-weight: 600;

  margin-bottom: -1%;
}

.ola {
  position: relative;
  display: inline;
  transition: letter-spacing 0.7s, margin-bottom 0.7s, font-size 0.7s,
    color 0.7s, text-shadow 0.7s;
}

.ola:hover {
  margin-bottom: 10px;
  letter-spacing: 8px;
  font-size: 80px;

  text-shadow: 0 0.5px #fd9f02;
  color: white;
}

.meunome {
  left: 2%;
  position: relative;
  display: inline;
  transition: letter-spacing 0.7s, margin-bottom 0.7s, margin-top 0.7s,
    font-size 0.7s, color 0.7s, text-shadow 0.7s;
}

.meunome:hover {
  margin-bottom: 10px;
  margin-top: 10px;
  letter-spacing: 8px;
  font-size: 80px;

  text-shadow: 0 0.5px #fd9f02;
  color: white;
}

#header img {
  left: 0%;
  position: relative;
  display: inline;

  width: 60px;
}

.front_end {
  left: 4%;

  position: relative;
  display: inline;
  transition: letter-spacing 0.7s, margin-bottom 0.7s, margin-top 0.7s,
    font-size 0.7s, color 0.7s, text-shadow 0.7s;
}

.front_end:hover {
  margin-bottom: 10px;
  margin-top: 10px;
  letter-spacing: 6px;
  font-size: 80px;

  text-shadow: 0 0.5px #fd9f02;
  color: white;
}

#titulo_header p {
  align-self: flex-start;
  position: relative;

  margin: 0;
  left: 4%;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 2.5px;

  color: white;
  opacity: 30%;

  transition: letter-spacing 0.7s;
}

#titulo_header p:hover {
  letter-spacing: 4.5px;
}

#titulo_header a {
  transition: color 0.6s;
  background-color: #1d1d1d;
  width: 20%;
  height: 5%;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 3px;

  color: #fd9f02;
  border: 1px solid #fd9f02;

  transition: color 0.6s, background-color 0.7s, font-weight 0.7s;
}

#titulo_header a:hover {
  color: #1d1d1d;
  font-weight: 500;
  background-color: #fd9f02;
}

button {
  align-self: flex-start;
  position: relative;
  cursor: pointer;
  border: none;

  margin-top: 3%;
  left: 4%;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 2.5px;

  background-color: #1d1d1d;
}

/* Pequenas letras HTML do final */

.html_final {
  display: inline;
  flex-direction: column;
}

.h1_html_final {
  bottom: 11%;
  left: 68%;
  position: relative;
}

.body_final {
  top: 30%;
  left: 1%;
  position: relative;
}

.html_text_final {
  top: 35%;
  left: -5%;
  position: relative;
}

/* Role para baixo */

.role {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;

  top: 12%;

  width: 100%;
  font-size: 16px;
  font-weight: 300;

  opacity: 65%;
}

.role span img {
  max-width: 17px;
  margin-bottom: -5px;
}

.role span {
  transform: rotate(90deg);
}
