/* Preto: #1D1D1D, Laranja: #FD9F02  */

/* Importando Fontes */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;500;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Square+Peg&display=swap");

/* Parâmtros do body */
body {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;

  margin: 0;
  padding: 0;

  color: #f1f1f1;
  background-color: #1d1d1d;
}

/* ======================NAVBAR====================== */

nav {
  width: 20vh;
  height: 100vh;

  background-color: #181818;

  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Cabeçalho da Navbar */

#nav_header {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 30%;

  background-color: black;
}

#nav_header a {
  text-decoration: none;
  color: #f1f1f1;
}

#nav_header img {
  margin-left: 5%;
  width: 60%;
  padding: 15%;
}

#titulo_span {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

#sub_span {
  align-self: center;

  font-size: 13px;
  font-weight: 300;
}

/* Sessão central para acesso as abas */

#sessoes {
  max-width: 100%;
  max-height: 50%;

  display: flex;
  justify-content: center;

  margin-top: 10%;
  margin-right: 60%;
}

#sessoes li {
  width: 100%;
  padding: 27%;

  list-style: none;
  border-top: 1px solid #1d1d1d;
  border-bottom: 1px solid #1d1d1d;
}

.componente_lista {
  text-decoration: none;
  color: gray;

  transition: text-shadow 0.1s;
}

.componente_lista:hover {
  color: #fd9f02;
  text-shadow: 0px 0px 10px #fd9f02cc, 0px 0px 2px #fd9f02;
}

/* Sessão relativa as redes sociais */

#redes_sociais {
  width: 100%;
  height: 35%;
}

#redes_sociais ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;

  padding: 5%;
}

#redes_sociais img {
  width: 80%;
}

#redes_sociais li:hover {
  box-shadow: 0px 0px 35px #241b1b;
}

/* ======================HEADER====================== */

#header {
  margin-left: 20vh;
  width: 178vh;
  height: 100vh;
}

/* Pequenas letras e texto principal */

.letras_html {
  font-family: "Square Peg", Arial, Helvetica, sans-serif;
  font-weight: 300;

  color: #4d4d4d;

  font-size: 24px;
}

.html_topo {
  top: 2%;
  left: 2%;
  position: relative;
}

.body_topo {
  top: 5%;
  left: 1%;
  position: relative;
}

.h1_topo {
  top: 20%;
  left: 1%;
  position: relative;
}

.titulo {
  font-size: 60px;

  text-shadow: 0 2px rgba(0, 0, 0, 0.7);

  font-weight: 600;
}

.ola {
  top: 25%;
  left: 1%;
  position: relative;
  display: inline;
  transition: letter-spacing 0.7s, margin 0.7s, font-size 0.7s, color 0.7s,
    text-shadow 0.7s;
}

.ola:hover {
  margin: 3px;
  letter-spacing: 8px;
  font-size: 63px;

  text-shadow: 0 0.5px #fd9f02;
  color: white;
}

.meunome {
  top: 35%;
  right: 5%;
  position: relative;
  display: inline;
  transition: letter-spacing 0.7s, margin 0.7s, font-size 0.7s, color 0.7s,
    text-shadow 0.7s;
}

.meunome:hover {
  margin: 3px;
  letter-spacing: 8px;
  font-size: 63px;

  text-shadow: 0 0.5px #fd9f02;
  color: white;
}

#header img {
  left: 0%;
  position: relative;
  display: inline;

  width: 60px;
}

.front_end {
  top: 45%;
  right: 35%;

  font-size: 60px;
  position: relative;
  display: inline;
  transition: letter-spacing 0.7s, margin 0.7s, font-size 0.7s, color 0.7s,
    text-shadow 0.7s;
}

.front_end:hover {
  margin: 3px;
  letter-spacing: 6px;
  font-size: 63px;

  text-shadow: 0 0.5px #fd9f02;
  color: white;
}
