/* Preto: #1D1D1D, Laranja: #FD9F02  */

/* Importando Fontes */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;500;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Square+Peg&display=swap");

/* Parâmtros do body */
body {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;

  margin: 0;
  padding: 0;

  color: #f1f1f1;
  background-color: #1d1d1d;
}

a{
  text-decoration: none;
}

/* #titulo_header, #titulo_sobre, #sobre_paragrafos{
  visibility: hidden;
} */




