@media (max-width: 1300px) {
    #habilidades{
        margin-left: 15vh !important;
    }

    #titulo_habilidades h2{
        font-size: 2.5rem !important;
    }

    #titulo_habilidades p{
        font-size: 0.8rem !important;
    }

    #habilidades_quadros {
        left: 90% !important;

        grid-template-columns: 180px 180px !important;
    }

    #habilidades_quadros{
        margin-right: 20% !important;
    }
}

@media (max-width: 900px){
    #habilidades{
        margin-left: 5vh !important;
        height: 120vh !important;
    }

    #habilidades_sessoes{
        bottom: 25% !important;
    }

    #titulo_habilidades p{
        font-size: 1.1rem !important;
        width: 109% !important;

        margin-bottom: 20px !important;
    }
    
    #habilidades_quadros{
        bottom: 85% !important;
        left: 115% !important;
    }

    .habilidades_html_fim{
        bottom: 75% !important;
    }
}

@media (max-width: 500px){
    #habilidades{
        margin-bottom: 150%;
    }


    #titulo_habilidades span{
        margin-top: 30% !important;
    }

    #titulo_habilidades h2{
        margin-top: 0% !important;
        margin-bottom: -20% !important;

        font-size: 4.5rem !important;
    }

    #titulo_habilidades p{
        font-size: 1.8rem !important;

        width: 350% !important;

        margin-bottom: 25% !important;

    }

    #titulo_habilidades .letra_p{
        margin-top: -25% !important;
    }

    #habilidades_quadros{
       display: none !important;
    }

    .habilidades_html_fim{
        bottom: -15% !important;
    }
}

@media (max-width: 370px){
    #habilidades{
        margin-bottom: 250%;
    }

    #titulo_habilidades h2{
        font-size: 4.7rem !important;
    }

    #titulo_habilidades p{
        font-size: 2.2rem !important;

        width: 400% !important;

        margin-bottom: 25% !important;

    }
}