@media (max-width: 1300px) {
    nav{
        max-height: 100%;
    }

  #nav_header{
      position: relative;

      max-height:30%;

      padding-top: 15%;
  }

  #nav_header img{
    padding: 15px;
  }

  #titulo_span{
      position: relative;
      
      bottom: 5%;

      font-size: 1.3rem !important;
  }

  #sub_span {
    position: relative;

    width: 60%;

    left: 2%;
    bottom: 5%;
  }

  #sessoes{
      position: relative;

      right: 10%;
      bottom: 1%;

      padding: 5%;
  }

  #sessoes li{
      font-size: 0.8rem;
  }

  #redes_sociais img{
      max-width: 75% !important;
  }
}

@media (max-width: 900px){
    #menu_pc{
        display: none;
    }

    #menu_mobile{
    display: block !important;
    }

    .menu_button{
        position: fixed !important;
        padding: 1%;
        right: 95% !important;
        bottom: 93% !important;
    }

    .mobile_sociais{
        bottom: 40% !important;
    }
}

@media (max-width: 500px){
    .menu_button{
        padding: 3% !important;

        right: 91% !important;
        bottom: 93% !important;
    }

    .menu_button img{
        position: relative;

        right: 30%;


        width: 160%;
        align-self: center;
    }

    .menu.active{
        right: 75% !important;

        width: 15% !important;

       font-size: 1.7rem;
    }

    .menu.active li{
        top: 10% !important;
    }

    .mobile_sociais{
        width: 150% !important;

        left: 70% !important;

        bottom: 0% !important;

        grid-template-columns: 1fr !important;
        grid-template-rows: 150px 150px 150px;
    }

    .mobile_sociais img{
        width: 30%;
    }
}

@media (max-width: 370px){
    .menu_button{
        padding: 4% !important;

        bottom: 93.5% !important;
        right: 90% !important;
        
    }

    .menu_button img{
        width: 300%;

        right: 90% !important;
    }

    .menu.active{
        font-size: 2rem !important;

       
        right: 70% !important;

        width: 20% !important;
    }

    .mobile_sociais{
        width: 140% !important;

        bottom: 0% !important;

        left: 60% !important;

        grid-template-columns: 1fr !important;
        grid-template-rows: 150px 150px 150px;
    }

    .mobile_sociais img{
        width: 30% !important;
    }
}